@tailwind base;
@tailwind components;
@tailwind utilities;



/* Varianti light */
:root {
  --primary: rgb(212, 212, 212);
}

/* Varianti dark */
.dark {
  --primary: rgb(43, 43, 43);
}
/* FONTS */
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}